.he1{
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 40px;text-align: center;
  /* border-bottom: 3px dashed rgba(0, 0, 0, 0.673); */
  color: #fff;
  padding: 10px;
  font-family:  Calibri, 'Trebuchet MS', sans-serif ;  
}